

.font_decorative {
  font-family: 'Special Elite', cursive;
}

.font_decorative-size--h1 {
  font-size: 3.5rem; 
  text-align: center;
}

.font_decorative-size--h2 {
  font-size: 2.0rem; 
  text-align: center;
}

.font_decorative-size--menu {
  font-size: 2.0rem; 
  text-align: center;
  color: black;
}

.font_decorative-size--picture {
  font-size: 1.5rem; 
}

.icon {
    margin-left: 5px
}


.navbar {
    min-height: 56px;
}


.micalogo  {
  overflow: hidden;
  max-height: 40px;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  
}

.carousel {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

span.divider {
  border-color: coral;
  border-right-style: solid;  
  height: 2.5rem;
}

/* change the color of normal links */
.navbar-custom .nav-item .nav-link{
  color: black;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link,
a:hover {
  color: coral;
}

@media (min-width: 992px) {
  
  .navbar-collapse {
    display: flex !important;     
  }

  .micalogo {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }
  
  .navbar-nav {
    flex-direction: row;  
    justify-content:  space-around;
    align-items: center;
    flex-grow: 1;
  }

  .nav-link a {
    border-right: 3px solid; 
    border-color: black;
  }
    
  .container_navbar1--display {
    display: none !important;
  }

  .block_navbar2--display {
    display: flex !important;
    padding: 0;
    margin-top: 10px;
    background-color: rgba(255, 128, 82, 0.1);
  }
}


/* footer styles
-------------------------------------------------- */
.footer {
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: coral;
}

