
  
.icon {
    margin-left: 5px
}


.navbar {
    min-height: 56px;
}


.micalogo  {
  overflow: hidden;
  max-height: 40px;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  
}


.carousel {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

span.divider {
  border-right-style: solid;  
  height: 2.5rem;
}

@media (min-width: 992px) {
  
  .navbar-collapse {
    display: flex !important;     
  }

  .micalogo {
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }
  
  .navbar-nav {
    flex-direction: row;  
    justify-content:  space-around;
    align-items: center;
    flex-grow: 1;
  }

  .nav-link a {
    border-right: 3px solid; 
    border-color: black;
  }
  
  .block_navbar1--display {
    display: none !important;
  }

  .block_navbar2--display {
    display: flex !important;
  }
}


