
  
.icon {
    margin-left: 5px
}


.navbar {
    min-height: 56px;
}


.micalogo  {
  overflow: hidden;
  max-height: 40px;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
  
}


.nav-item {
  display: block;
}


.navbar-collapse {
  display: flex;
  
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: block !important;     
    }

  .micalogo {
    /*transform: scale(2);*/
    max-height: 1000px;
    transition: max-height 1s ease-in-out;
  }
  
  .navbar-nav {
    display: block;
    text-align: center
  }
  
  .nav-item {
    display: inline-block;
    margin-right: 10px

  }
  
  .nav-link a{

      border-bottom: 3px solid transparent; 
    border-color: black;
  }
}
  

.carousel {
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
}